{% extends 'front/master.html' %}
{% load static %}

{% block titlespace %}
{{site_name_f}}{{site_name_l}} | Home
{% endblock %}

{% block headspace %}
{% endblock %}

{% block mainspace %}

<section id="slider">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        {% for i in slider_rest %}
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        {% endfor %}
                    </ol>
                    
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-6">
                                <h1><span>{{site_name_f}}</span> {{site_name_l}}</h1>
                                <h2>{{site_summary}}</h2>
                                <p>{{slider_0.catch_phrase}}</p>
                            </div>
                            <div class="col-sm-6">
                                {% if slider_0.picture %}
                                <img src="{{slider_0.picture.url}}" style="height: 500px; width: 500px;"  class="girl img-responsive" alt="carousel">
                                {% endif %}
                            </div>
                        </div>

                        {% for slide in slider_rest %}
                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>{{site_name_f}}</span> {{site_name_l}}</h1>
                                <h2>{{site_summary}}</h2>
                                <p>{{slide.catch_phrase}}</p>
                            </div>
                            <div class="col-sm-6">
                                {% if slide.picture %}
                                <img src="{{slide.picture.url}}" style="height: 500px; width: 500px;"  class="girl img-responsive" alt="alternate">
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}

                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Category</h2>
                    <div class="panel-group category-products" id="accordian">

                        {% for catagory in catagories %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="/">{{catagory.name}}</a></h4>
                            </div>
                        </div>
                        {% endfor %}

                    </div>

                    <div class="shipping text-center">
                        <img src="{% static 'preloaded/images/img5.gif' %}" height="350" width="330" alt="" />
                    </div>
                
                </div>
            </div>
            
            <div class="col-sm-9 padding-right">
                <div class="row">
                    <div class="features_items"><!--features_items-->
                        <h2 class="title text-center">Products</h2>
                        
                        {% if products %}
                        {% for product in products %}
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="{{product.picture.url}}" width="300" height="250" alt="product" />
                                            <h2>Rs. {{product.price}}</h2>
                                            <p>{{product.name}}</p><!--pass id-->
                                            <a href="{% url 'product_details' pk=product.pk %}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>View Details</a>
                                        </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="col-sm-12">
                            <h3 style="align-text:center;">Sorry, No Specific Products Found !! <h1>☹️</h1></h3>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <h2><b>Tags</b></h2><br>
                    {% if tags %}
                    {% for tag in tags %}
                    <div class="col-sm-2" style="align-content:center; padding:1px 1px;">
                        <a href="?query={{tag}}"><button type="button" class="btn btn-info">{{tag}}</button></a>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}