{% extends 'front/master.html' %}
{% load static %}

{% block titlespace %}
{{site_name_f}}{{site_name_l}} | Product
{% endblock %}

{% block headspace %}
{% endblock %}

{% block mainspace %}
<section>
    <div class="container">
        <div class="row">
        
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Category</h2>
                    <div class="panel-group category-products" id="accordian">

                        {% for catagory in catagories %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="/">{{catagory.name}}</a></h4>
                            </div>
                        </div>
                        {% endfor %}

                    </div>

                    <div class="shipping text-center">
                        <img src="{% static 'preloaded/images/img5.gif' %}" height="350" width="330" alt="" />
                    </div>
                
                </div>
            </div>

            <div class="col-sm-9 padding-right">
                <div class="product-details">
                    <div class="col-sm-5">
                        <div class="view-product">
                            <img src="{{product.picture.url}}" alt="" />								
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="product-information">
                            <img src="{% static 'preloaded/images/product-details/new.jpg' %}" class="newarrival" alt="" />
                            <h2>{{product.name}}</h2>
                            <p>Product ID: {product.pk}</p>
                            <span>
                                <span>₹ {{product.price}}</span>
                                <button type="button" class="btn btn-fefault cart">
                                    <i class="fa fa-shopping-cart"></i>
                                    <a href="#">Add to cart</a>
                                </button>
                            </span>
                            
                            {% if product.in_stock == 0 %}
                                <p><b>Availability:</b> Not in stock</p>
                            {% else %}
                                <p><b>Availability:</b> {{product.in_stock}}</p>
                            {% endif %}

                            <p><b>Description:</b> {{product.details}}</p>
                            <p><b>Brand:</b> {{product.brand}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}