{% extends 'front/master.html' %}
{% load static %}
<!-- ============================================================================================ -->
{% block head_title %}

Cart

{% endblock %}
<!-- ============================================================================================ -->
{% block body_main %}

<section id="cart_items">
    <div class="container">
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Item</td>
                        <td class="description">Description</td>
                        <td class="price">Price</td>
                        <td class="quantity">Available</td>
                        <td class="quantity">Status</td>
                        <td class="description">Actions</td>
                    </tr>
                </thead>

                <tbody>
                    {% for cart in carts %}
                    <tr>
                        <form name="form" method="POST" enctype="multipart/form-data" action="{% url 'confirm_order' %}">
                            {% csrf_token %}
                            <input type="hidden" id="cart_id" name="cart_id" value="{{cart.pk}}" />
                            <td class="cart_product">
                                <a href=""><img src="{{cart.product.image_url}}" style="display: inline-block; height: 100px; width: 75px;" alt="PRODUCT IMAGE"></a>
                            </td>
                            <td class="cart_description">
                                <h4>{{cart.product.name}}</h4>
                                <p>Product ID: {{cart.product.pk}}</p>
                            </td>
                            <td class="cart_price">
                                <p>₹ {{cart.price}}</p>
                            </td>
                            <td class="cart_quantity">
                                <div class="cart_quantity_button">
                                    <input class="cart_quantity_input" type="text" value="{{cart.product.stock}}" name="quantity" id="quantity" size="2" readonly>
                                </div>
                            </td>
                            <td class="cart_order">
                                
                                <button type="submit" id="ok" name="ok" value="order">Order</button>
                            </td>
                            <td class="cart_delete">
                                {% if is_auth %}
                                <button onclick="window.location.href='/cart/del/{{cart.pk}}';" type="button" id="ok" name="ok" value="delete">Delete Item</button>
                                {% else %}
                                <button type="button" id="ok" name="ok" value="delete" href="#" disabled>Delete Item</button>
                                {% endif %}
                            </td>
                        </form>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>

{% endblock %}
<!-- ============================================================================================ -->
{% block body_footer %}

<script src="{% static 'front/js/jquery.js' %}"></script>
<script src="{% static 'front/js/bootstrap.min.js' %}"></script>
<script src="{% static 'front/js/jquery.scrollUp.min.js' %}"></script>
<script src="{% static 'front/js/price-range.js' %}"></script>
<script src="{% static 'front/js/jquery.prettyPhoto.js' %}"></script>
<script src="{% static 'front/js/main.js' %}"></script>

{% endblock %}
<!-- ============================================================================================ -->