{% extends 'front/master.html' %}
{% load static %}
<!-- ============================================================================================ -->
{% block head_title %}

Homepage

{% endblock %}
<!-- ============================================================================================ -->
{% block body_main %}

<section id="slider"><!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                    </ol>
                    
                    <div class="carousel-inner">

                        {% for cas in cassarole %}
                        {% if cas.pk == 1 %}
                        <div class="item active">
                            <div class="col-sm-6">
                                <h1><span>[</span>{{site_data.name}}<span>]</span></h1>
                                <h2>{{site_data.summary}}</h2>
                                <p>{{cas.quote}}</p>
                            </div>
                            <div class="col-sm-6">
                                <img style="display: inline-block; width:500px; height:500px;" src="{% static cas.image_url %}" class="girl img-responsive" alt="IMAGE" />
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        {% for cas in cassarole %}
                        {% if cas.pk > 1 %}
                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>[</span>{{site_data.name}}<span>]</span></h1>
                                <h2>{{site_data.summary}}</h2>
                                <p>{{cas.quote}}</p>
                            </div>
                            <div class="col-sm-6">
                                <img style="display: inline-block; width:500px; height:500px;" src="{% static cas.image_url %}" class="girl img-responsive" alt="IMAGE" />
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}

                    </div>
                    
                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
                
            </div>
        </div>
    </div>
</section><!--/slider-->

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Category</h2>
                    <div class="panel-group category-products" id="accordian"><!--category-productsr-->
                        {% for oc in occation %}
                        {% if oc.pk != 20 %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    {% if oc.pk != picker %}
                                    <a href="{% url 'occation' pk=oc.pk %}">
                                        {{oc.name}}
                                    </a>
                                    {% else %}
                                    <a href="#">
                                    [ {{oc.name}} ]
                                    </a>
                                    {% endif %}
                                </h4>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div><!--/category-products-->

                    <div class="shipping text-center"><!--shipping-->
                        <img src="{% static 'front/images/img5.gif' %}" height="350" width="330" alt="IMAGE" />
                    </div><!--/shipping-->
                
                </div>
            </div>
            
            <div class="col-sm-9 padding-right">
                <div class="features_items"><!--features_items-->
                    <div class="row">
                        <div class="col-sm-9">
                            <h2 class="title text-center">Products</h2>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" id="myInput" placeholder="Search for names..">
                        </div>
                    </div>
                    <!--lop starts here-->
                    
                    <div id="searchR" class="row">
                    {% for pr in product %}
                    <div id="searchRow" class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="{{pr.image_url}}" width="300" height="250" alt="PRODUCT IMAGE" />
                                    <h2>Rs. {{pr.price}}</h2>
                                    <p id="searchName">{{pr.name}}</p><!--pass id-->
                                    <a href="{% url 'product_detail' pk=pr.pk %}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>View Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    </div>

                </div><!--features_items-->
            </div>
        </div>
    </div>
</section>

{% endblock %}
<!-- ============================================================================================ -->
{% block body_footer %}

<script src="{% static 'front/js/jquery.js' %}"></script>
<script src="{% static 'front/js/bootstrap.min.js' %}"></script>
<script src="{% static 'front/js/jquery.scrollUp.min.js' %}"></script>
<script src="{% static 'front/js/price-range.js' %}"></script>
<script src="{% static 'front/js/jquery.prettyPhoto.js' %}"></script>
<script src="{% static 'front/js/main.js' %}"></script>

{% endblock %}
<!-- ============================================================================================ -->