{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
<section class="testimonial">
  <div class="container">
    <h1>OUR CONTACTS</h1>
    <p class="text-center">Feel free to contact us</p><br><br>
    <div class="row">

<div class="col-md-3 text-center">
  <div class="profile">
  <img src="images/sanyam.jpg" class="user">
    <blockquote><p>ssanyam2000@gmail.com</p><p>6290893977</p></blockquote>
    <h3>Sanyam Shaw<br><span>C0-Founder at GiftHUB</span></h3>
  </div>

</div>
      <div class="col-md-3 text-center">
  <div class="profile">
  <img src="images/priyam.jpg" class="user">
    <blockquote><p>priyamdas@gmail.com</p><p>7001222049</p></blockquote>
    <h3>Priyam Das<br><span>C0-Founder at GiftHUB</span></h3>
  </div>

</div>
      <div class="col-md-3 text-center">
  <div class="profile">
  <img src="images/souriya.jpg" class="user">
    <blockquote><p>souriyaroy1998gmail.com</p><p>9051366313</p></blockquote>
    <h3>Souriya Roy<br><span>C0-Founder at GiftHUB</span></h3>
  </div>

</div>
      <div class="col-md-3 text-center">
  <div class="profile">
  <img src="images/somnath.jpg" class="user">
    <blockquote><p>goblindip@gmail.com</p><p>7908383229</p></blockquote>
    <h3>Somnath Halder<br><span>C0-Founder at GiftHUB</span></h3>
  </div>

</div>

    </div>


  </div>

</section>

</body>
</html>