{% extends 'master.html' %}
{% load static %}
{% block body_main %}

<section id="slider"><!--slider-->
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div id="slider-carousel" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
						<li data-target="#slider-carousel" data-slide-to="1"></li>
						<li data-target="#slider-carousel" data-slide-to="2"></li>
					</ol>
					
					<div class="carousel-inner">
						<div class="item active">
							<div class="col-sm-6">
								<h1><span>Gift</span> HUB</h1>
								<h2>The Joy Of Gifting</h2>
								<p> Another adventure filled year awaits you. Welcome it by celebrating your birthday with pomp and splendor. Wishing you a very happy and fun-filled birthday!</p>
							</div>
							<div class="col-sm-6">
								<img src="{% static 'images/img1.gif' %}" class="girl img-responsive" alt="" />
							</div>
						</div>
						<div class="item">
							<div class="col-sm-6">
								<h1><span>Gift</span> HUB</h1>
								<h2>The Joy Of Gifting</h2>
								<p>I saw that you were perfect, and so I loved you. Then I saw that you were not perfect and I loved you even more.</p>
							</div>
							<div class="col-sm-6">
								<img src="{% static 'images/img2.gif' %}" class="girl img-responsive" alt="" />
							</div>
						</div>
						
						<div class="item">
							<div class="col-sm-6">
								<h1><span>Gift</span> HUB</h1>
								<h2>The Joy Of Gifting</h2>
								<p>Love recognizes no barriers. It jumps hurdles, leaps fences, penetrates walls to arrive at its destination full of hope.</p>
							</div>
							<div class="col-sm-6">
								<img src="{% static 'images/img3.gif' %}" class="girl img-responsive" alt="" />
							</div>
						</div>
						
					</div>
					
					<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
						<i class="fa fa-angle-left"></i>
					</a>
					<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
						<i class="fa fa-angle-right"></i>
					</a>
				</div>
				
			</div>
		</div>
	</div>
</section><!--/slider-->

<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<div class="left-sidebar">
					<h2>Category</h2>
					<div class="panel-group category-products" id="accordian"><!--category-productsr-->'''
for rec in occ:
print'''
						
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title"><a href="occassionproduct.py?oid={}">{}</a></h4>
							</div>
						</div>'''.format(rec[0],rec[1])
print'''    
					</div><!--/category-products-->


					
					<div class="shipping text-center"><!--shipping-->
						<img src="{% static 'images/img5.gif' %}" height="350" width="330" alt="" />
					</div><!--/shipping-->
				
				</div>
			</div>
			
			<div class="col-sm-9 padding-right">
				<div class="features_items"><!--features_items-->
					<h2 class="title text-center">Products</h2><!--lop starts here-->'''
for rec in prod:
print'''
					<div class="col-sm-4">
						<div class="product-image-wrapper">
							<div class="single-products">
									<div class="productinfo text-center">
										<img src="{}" width="300" height="250" alt="" />
										<h2>Rs. {}</h2>
										<p>{}</p><!--pass id-->
										<a href="productdetails.py?pid={}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>View Details</a>
									</div>
							</div>
						</div>
					</div>'''.format(rec[7],rec[4],rec[1],rec[0])
print'''						
				</div><!--features_items-->
			</div>
		</div>
	</div>
</section>

{% endblock %}

{% block body_footer %}

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
<script src="{% static 'js/price-range.js' %}"></script>
<script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

{% endblock %}