{% extends 'front/master.html' %}
{% load static %}
<!-- ============================================================================================ -->
{% block head_title %}

Detail

{% endblock %}
<!-- ============================================================================================ -->
{% block body_main %}

<section>
    <div class="container">
        <div class="row">
        
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Category</h2>
                    <div class="panel-group category-products" id="accordian"><!--category-productsr-->
                        {% for oc in occation %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="#">{{oc.name}}</a></h4>
                            </div>
                        </div>
                        {% endfor %}
                    </div><!--/category-products-->
                </div>
            </div>
            
            <div class="col-sm-9 padding-right">
                <div class="product-details"><!--product-details-->
                    <div class="col-sm-5">
                        <div class="view-product">
                            <img src="{{pr.image_url}}" alt="PRODUCT IMAGE" />								
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="product-information"><!--/product-information-->
                            <img src="{% static 'front/images/product-details/new.jpg' %}" class="newarrival" alt="" />
                            <h2>{{pr.name}}</h2>
                            <p>Product ID: {{pr.pk}}</p>
                            <span>
                                <span>INR {{pr.price}}</span>
                                {% if pr.stock == 0 %}
                                <form>
                                    <button type="button" class="btn btn-fefault cart" disabled>
                                        <i class="fa fa-shopping-cart"></i>
                                            Add to cart
                                    </button>
                                </form>
                                {% else %}
                                <form action="{% url 'add_to_cart' %}" enctype="multipart/form-data" method="POST">
                                    <input type="hidden" id="prod-id" name="prod-id" value="{{pr.pk}}">
                                    <button type="submit" value="submit" class="btn btn-fefault cart">
                                        <i class="fa fa-shopping-cart"></i>
                                        Add to cart
                                    </button>
                                </form>
                                {% endif %}                                
                            </span>
                            <p>
                                <b>Availability:</b>
                                {% if pr.stock == 0 %}
                                Not Available
                                {% else %}
                                IN STOCK
                                {% endif %}
                            </p>
                            <p><b>Description:</b> {{pr.details}}</p>
                            <p><b>Brand:</b> {{pr.brand}}</p>
                        </div><!--/product-information-->
                    </div>
                </div><!--/product-details-->
            </div>
        </div>
    </div>
</section>

{% endblock %}